In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data
weather_data = pd.read_csv("jena_climate_2009_2016.csv")
weather_data.head()

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
0,01.01.2009 00:10:00,996.52,-8.02,265.40,-8.90,93.3,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
1,01.01.2009 00:20:00,996.57,-8.41,265.01,-9.28,93.4,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2,01.01.2009 00:30:00,996.53,-8.51,264.91,-9.31,93.9,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
3,01.01.2009 00:40:00,996.51,-8.31,265.12,-9.07,94.2,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
4,01.01.2009 00:50:00,996.51,-8.27,265.15,-9.04,94.1,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3

In [4]:
# Convert Date time column to Datetime64 and make it index
weather_data.index = weather_data['Date Time'].astype('datetime64')
weather_data.drop(columns=['Date Time'],inplace=True)
weather_data.head()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2009-01-01 00:10:00,996.52,-8.02,265.40,-8.90,93.3,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
2009-01-01 00:20:00,996.57,-8.41,265.01,-9.28,93.4,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2009-01-01 00:30:00,996.53,-8.51,264.91,-9.31,93.9,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
2009-01-01 00:40:00,996.51,-8.31,265.12,-9.07,94.2,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
2009-01-01 00:50:00,996.51,-8.27,265.15,-9.04,94.1,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3

In [7]:
# then Resample it to make it hourly
weather_data = weather_data.resample('H').first()
weather_data.head()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2009-01-01 00:00:00,996.52,-8.02,265.40,-8.90,93.3,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
2009-01-01 01:00:00,996.50,-8.05,265.38,-8.78,94.4,3.33,3.14,0.19,1.96,3.15,1307.86,0.21,0.63,192.7
2009-01-01 02:00:00,996.62,-8.88,264.54,-9.77,93.2,3.12,2.90,0.21,1.81,2.91,1312.25,0.25,0.63,190.3
2009-01-01 03:00:00,996.84,-8.81,264.59,-9.66,93.5,3.13,2.93,0.20,1.83,2.94,1312.18,0.18,0.63,167.2
2009-01-01 04:00:00,996.99,-9.05,264.34,-10.02,92.6,3.07,2.85,0.23,1.78,2.85,1313.61,0.10,0.38,240.0

# Following is data windowing

In [12]:
""" Here slices for windowing are created """
l = 30
m = 3
n = 5

np_data = np.array(weather_data)  # Convert to the numpy array for slicing data
N = np_data.shape[0] # Total number of samples
k = N - (l + m + n)

# Create Input and output Slice
in_slice = np.array([range(i, i + l) for i in range(k)])
op_slice = np.array([range(i + l + m, i + l + m + n) for i in range(k)])

In [13]:
in_slice

array([[    0,     1,     2, ...,    27,    28,    29],
       [    1,     2,     3, ...,    28,    29,    30],
       [    2,     3,     4, ...,    29,    30,    31],
       ...,
       [70088, 70089, 70090, ..., 70115, 70116, 70117],
       [70089, 70090, 70091, ..., 70116, 70117, 70118],
       [70090, 70091, 70092, ..., 70117, 70118, 70119]])

In [14]:
op_slice

array([[   33,    34,    35,    36,    37],
       [   34,    35,    36,    37,    38],
       [   35,    36,    37,    38,    39],
       ...,
       [70121, 70122, 70123, 70124, 70125],
       [70122, 70123, 70124, 70125, 70126],
       [70123, 70124, 70125, 70126, 70127]])

In [18]:
in_data = np_data[in_slice,:]
in_data.shape

(70091, 30, 14)

In [22]:
out_data = np_data[op_slice,:]
out_data.shape

(70091, 5, 14)